<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('partials/navigation') %>

        <!-- main content -->
        <main class="vh-100 container d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1 mx-10 my-10 text-center">About</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet eaque ipsum perspiciatis natus
                    pariatur rem ullam repellat repellendus excepturi cumque velit, ipsam doloremque sapiente neque,
                    omnis aliquam nesciunt voluptatem distinctio qui reiciendis at hic minus vero. Odit, perferendis
                    sequi atque cumque ea neque nostrum quos id? Impedit inventore odit rem harum, earum, ipsa, hic
                    assumenda nisi tenetur quae pariatur temporibus asperiores facere odio velit labore veniam. Eum
                    rerum qui blanditiis quos optio dolor, porro minus neque odit deserunt animi maxime culpa debitis
                    dignissimos amet quae quidem. Cum quasi corporis suscipit qui numquam debitis tenetur beatae
                    quibusdam modi repellat eveniet dolores laborum mollitia, est consequuntur in assumenda, nostrum
                    iste nisi itaque eaque. Quas totam rerum fugit praesentium odio officiis cum quaerat id? Expedita
                    excepturi perspiciatis sint eos voluptate necessitatibus laborum sequi fugit soluta magni aperiam
                    quod cupiditate eius unde beatae omnis, quibusdam eaque ab, ipsum, quos recusandae. Dolore ea autem
                    voluptatem!
                </p>
            </section>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>